<ion-content class="fondo" padding fullscreen>
    <br><br><br><br><br><br>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
                <ion-card mode="ios" class="colorGrid colorCol">
                    &nbsp; &nbsp;
                    <ion-img src="assets/imagenes/logo.png" class="smallLogo"></ion-img>
                    <ion-card-header>
                        <ion-card-title class="centerText">Interaction App</ion-card-title>
                        <ion-card-subtitle class="centerText">Bienvenidos</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button expand="block" class="btn-grad cltTxtBtn" (click)="abrirLogin()">Comenzar </ion-button>
                    </ion-card-content>
                    <ion-card-content>
                        <ion-button expand="block" class="btn-grad cltTxtBtn" (click)="abrirInfo()">Acerca De</ion-button>
                    </ion-card-content>
                    <br> <br>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>